 <div id="home-posts">
{{#each posts as |post|}}
<section class="card">
  <a href="/post/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
     <p>{{content}}</p>
     <p>(from {{user.name}} on {{format_date date_created}})</p>
    </div>
  </a>
</section>
{{/each}}
</div>