{{#each posts as |post|}}
<section class="card">
  <a href="/posts/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
     <p>{{content}}</p>
     <p>(from {{user.name}} on {{format_date date_created}})</p>
    </div>
  </a>
</section>
{{!-- <div ></div>
<p>{{title}}</p>
<p>{{content}}</p>
<h1>{{user.name}}</h1> --}}
{{/each}}