<div id="single-post">
  <section class="card">
    <header>{{posts.title}}</header>

    <div class="card-body">
      <p>{{posts.content}}</p>
      <p>(from {{posts.user.name}} on {{format_date posts.date_created}})</p>
    </div>
    {{#if ownedPost}}
    <div class="update-delete-buttons">
      <button id="update-post-btn" class="btn">Update post</button>
      <button id="delete-post-btn" class="btn">Delete post</button>
    </div>
    {{/if}}
  </section>
</div>
<br>
{{#if ownedPost}}
<div id="update-post">
   <form class="form" id="update-post-form">
        <label for="update-post-title">Title:</label>
        <input class="form-input" type="text" id="update-post-title" placeholder="Enter title here"/>
        <label for="update-post-content">Content:</label>
        <textarea class="form-input" type="text" id="update-post-content" placeholder="Enter new post here"/></textarea>
        <br>
        <button id="submit-post-btn" class="btn">Update post</button>
  </form>
</div>
{{/if}}
<br />
<div id="comments">
  {{#each posts.comments as |comment|}}
    <section class="card">
      <header>Comment from {{comment.user.name}} on {{format_date date_created}}</header>
      <div class="card-body">
        <p>{{content}}</p>
        {{#each ids}}
        <p>w</p>
        {{/each}}
      </div>
  
      <div class="update-delete-buttons">
        <button class="btn update-btn">Update comment</button>
        <button class="btn delete-btn">Delete comment</button>
      </div>
    </section>
  {{/each}}
</div>
<div id="add-comment-btn-cont">
<button id="add-comment-btn" class="btn">Create a new comment?</button>
</div>
<div id="new-comment">
   <form class="form" id="new-comment-form">
        <label for="new-comment-content">Content:</label>
        <textarea class="form-input" type="text" id="new-comment-content" placeholder="Enter new comment here"/></textarea>
        <br>
        <button id="submit-comment-btn" class="btn">Create comment</button>
  </form>
</div>
<p id="post-user-id">{{posts.id}}</p>
<script src="/js/post.js"></script>